{% extends "templates/_base.htm" %}
{% block headercontent %}

	<h1><a href="/" id="logo">Goggin Ballroom Dancing <em>Ballroom, Latin, & Swing Lessons

</em></a></h1>
				
				<!-- Nav -->
					<nav id="nav">
						<ul>
							<li class="current"><a href="/">Home</a></li>
							<li ><a href="contact">About Us/Contact</a></li>
							<li><a href="resources">Resources</a></li>
							<li><a href="lessons">Dance Lessons</a></li>
							<li><a href="gift">Gift Certificates</a></li>
							{% if user %}
							<li><a href="logout">Logout, {{user}}</a></li>
							{% else %}
							<li><a href="login">Login</a></li>
							{% endif %}	
						</ul>
					</nav>

{% endblock %}



{% block bodycontent %}
			
		<!-- Banner -->
			<section id="banner">
				<header>
					<h2>Learn to dance! It's fun, easy & affordable</h2>
					<a href="lessons" class="button">Learn More</a>
				</header>
			</section>

		<!-- Highlights -->
			<section class="wrapper style1">
				<div class="container">
					<div class="row double">
						<section class="4u">
							<div class="box highlight">
								<img src="images/goggins.jpg" alt="" />
								<h3>Lessons</h3>
								<p>We teach both private & group lessons. We offer lessons by appointment and drop-in at various locations in Eau Claire, Altoona, Marshfield, and Rice Lake.</p>
							</div>
						</section>
						<section class="4u">
							<div class="box highlight">
								
								<img width = "65%" padding-bottom = "4em" src="images/veryfineshoesheels.jpg" alt="" />
								<h3>Dance Shoes</h3>
								<p> We are an authorized American Classic and Very Fine dance shoe dealer and stock an assortment of styles, colors & sizes.  </p>
							    <p>Pricing starts at $79 with free shipping.  Contact us to schedule a personal consultation with Karen.</p>
							</div>
						</section>
						<section class="4u">
							<div class="box highlight">
								<img width = "50%" padding-bottom = "1em" src="images/dvd.jpg" alt="" />
								<h3>Instructional DVDs</h3>
								
								<p>A selection of instructional DVD's covering the beginning, intermediate & advanced levels are available for all dances we teach. </p>
							</div>
						</section>
						
					</div>
				</div>
			</section>

		<!-- Gigantic Heading -->
			<section id="dancesHome" class="wrapper style2">
				<div class="container">
					<header class="major">
						<h2>Dances Available</h2>
						<p style="color:black">(Offering over 45 years of teaching experience)</p>
					</header>
				</div>
			</section>

		<!-- Posts -->
			<section id="dancesHome" class="wrapper style1">
				<div id="danceContainer" class="container" style="width:100%;">
					<div class="row">
						<section class="6u" style="width:33%">
							<div class="box post">
								<a class="image left"><img src="images/smooth.png" alt="" /></a>
								<div class="inner">
									<h3>Smooth Dances</h3>
									<p>Foxtrot, Quickstep, Tango, Waltz, Vienesse Waltz</p>
								</div>
							</div>
						</section>
						<section class="6u" style="width:33%">
							<div class="box post">
								<a class="image left"><img src="images/latin.jpg" alt="" /></a>
								<div class="inner">
									<h3>Latin Dances</h3>
									<p>Cha Cha, Rumba, Merengue, Salsa, Samba</p>
								</div>
							</div>
						</section>
						<section class="6u" style="width:33%">
							<div class="box post">
								<a  padding-left="1em"class="image left"><img class="social" src="images/social.png" alt="" /></a>
								<div class="inner">
									<h3>Social Dances</h3>
									<p>Night Club Two Step, Polka, Swing (East Coast, West Coast, Hustle)</p>
								</div>
							</div>
						</section>
					</div>
					
				</div>
			</section>
			
		<!-- CTA -->
			<section id="cta" class="wrapper style3">
				<div class="container">
					<header>
						<h3>Please email us if you are interested in receiving updates about current dance events in your area.</h3>
						
					</header>
				</div>
			</section>

		
{% endblock %}
